name: Workflow for update jadwal

on:
  push:
    branches:
      - main   
  schedule:
      # thanks: https://stackoverflow.com/a/16603902
      #- cron: 0 17 30 4,6,9,11 *
      #- cron: 0 17 31 1,3,5,7,8,10,12 *
      #- cron: 0 17 28,29 2 *
      - cron: '0 18 1 * *'
  workflow_dispatch:

permissions:
  contents: write   

jobs:
  main:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Fix git safe directory
        run: git config --global --add safe.directory ./github/workspace

      - name: Update jadwal
        uses: ./.github/action-update-jadwal/

      - name: Commit & Push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "[gh-actions] update jadwal" || echo "No changes"
          git push
